<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">

	<!-- BEGIN HEAD -->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>微信果铺后台管理系统</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        
        <!-- 公用头部JS start -->
        <div th:replace="~{center/common/commonHeaderCSS :: commonHeaderCSS}">...</div>
        <!-- 公用头部JS end -->
        
		<style>
			 /*设置jqgrid列中文字内容垂直居中 jqgrid 单元格自动换行 */
			.ui-jqgrid tr.jqgrow td {
				vertical-align:middle;
			 	white-space: normal !important; 
			 	height: auto; 
			 	word-break: break-all; 
			}
		</style>
		
    </head>
    <!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
        <div class="page-wrapper">
            
            <!-- 引入header页面 start -->
            <div th:replace="~{center/common/header :: header}">...</div>
           	<!-- 引入header页面  end -->
            
            <!-- BEGIN HEADER & CONTENT DIVIDER -->
            <div class="clearfix"> </div>
            <!-- END HEADER & CONTENT DIVIDER -->
            	
            	<div class="page-container">

                    <!-- 菜单 start -->
                    <div th:replace="~{center/common/menu :: menu}">...</div>
                    <!-- 菜单 end -->

                    <!-- BEGIN CONTENT -->
                    <div class="page-content-wrapper">
                        <!-- BEGIN CONTENT BODY -->
                        <div class="page-content">

                            <div class="page-content-body">

                                <div th:replace="~{center/imooc :: imooc}">...</div>

                            </div>

                        </div>
                        <!-- END CONTENT BODY -->
                    </div>
                    <!-- END CONTENT -->
                
            </div>
            <!-- END CONTAINER -->
        </div>
            
            <!-- 引入footer页面 start -->
            <div th:replace="~{center/common/footer :: footer}">...</div>
           	<!-- 引入footer页面  end -->
            
        
        <!-- 公用尾部JS start -->
        <div th:replace="~{center/common/commonFooterJS :: commonFooterJS}">...</div>
        <!-- 公用尾部JS end -->
	
</body>

</html>
